html,
body {
    height: 100%;
    margin: 0;
    font-family: var(--font-family-commun);
}

header {
    height: 5%;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

#header {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 47%;
    font-size: var(--font-size-small);
}

#body {
    height: 200%;
}

footer {
    height: 37%;
    width: 100%;
    background-color: #7e5304c0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer {
    width: 66%;
    height: 78%;
}

#upper-footer {
    height: 75%;
    width: 100%;
    display: flex;
}

#lower-footer {

    padding: 0;
    height: 25%;
    width: 100%;
    box-sizing: border-box;
    border-top: var(--border-color) solid 1px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: var(--font-size-small);
}

#img-footer {
    width: 25%;
    height: 82%;
    box-sizing: border-box;
    border-right: var(--border-color) solid 1px;
}

#newsletter {
    display: flex;
    justify-content: center;
    width: 48%;
    height: 82%;
    border-right: var(--border-color) solid 1px;
    font-size: var(--font-size-small);
}

#newsletter>div {
    width: 82%;
    height: 91%;
}

#newsletter h2 {
    margin: 0;
}

form {
    width: 100%;
    height: 59%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#newsletter-email {
    height: 47%;
    width: 94%;
    border-radius: 25px;
    padding-left: 20px;
    border: none;
}

#newsletter-submit {
    height: 25%;
    width: 21%;
    font-size: 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--button-color);
    color: white;
}

#logo-reseaux {
    width: 27%;
    height: 82%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo-reseaux a {
    height: 27%;
    width: 17%;
}

#logo-reseaux img {
    height: 100%;
    width: 100%;
}

#newsletter-submit:hover {
    cursor: pointer;
    background-color: var(--background-color);
}