:root{
    /* Couleurs */
    --primary-color: rgb(63, 53, 45);
    --background-color: rgb(63, 53, 45, 0.15);
    --border-color: rgb(63, 53, 45, 0.25);
    --button-color: rgb(63, 53, 45, 0.35);


    /* Taille de police */
    --font-size-small: 12px;
    --font-size-medium: 15px;
    --font-size-title: 30px;

    /* Police */
    --font-family-commun: Palatino, Monaco, Georgia, serif, sans-serif;
    --font-family-title: Luminari, Optima, Palatino, Monaco, Georgia, serif, sans-serif;
}
